{% extends "flights/layout.html"%}

{% block body %}
    <h1>Flights{{flight.id}}</h1>

    <lu>
        <li> Origin : {{flight.origin}} </li>
        <li> duration : {{flight.destination}} </li>
        <li> Origin:{{flight.duration}} </li>
    </lu>

    <h2>Passengers</h2>
    {% for passengers in passenger %}
        <li>{{ passenger }}</li>
        {% empty %}
        <li>No Passengers</li>
    {% endfor %}

    <h2>Add Passengers</h2>

    <form action = "{% url 'book' flight.id%}" medthod="post">
        {% csrf_token %}
        <select name = "passenger">
            {% for passenger in non_passengers%}
            <option value="{{passenger.id}}">{{passenger}}</option>
            {% endfor %}
        </select>
        <input type = "submit">

    </form>
    <a href = "{% url 'index'%}", >Back to Flight list</a>
{%endblock%}